.jumbotron
  .container
    %h1 All the forms you need in one place.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque reiciendis iste, placeat id laboriosam. Quos nostrum, laboriosam cupiditate deserunt architecto asperiores optio blanditiis, nisi quisquam ab laudantium et excepturi molestias.
    %p
    = link_to 'users/new' do
      .btn.btn-primary.btn-lg Get Started
