.container.bp
  .col-md-9.col-md-offset-1
    %h1 8822-B — Change of Address or Reponsible Party
    %h2 Internal Revenue Service (IRS)
    %p This form a lotta dumb shit. Lotta bullshit happens in here. All bullshit. Bullshit here, there, everywhere you look theres bullshit. But you gotta do the bullshit. I know you can beat the bullshit. This form a lotta dumb shit. Lotta bullshit happens in here. All bullshit. Bullshit here, there, everywhere you look theres bullshit. But you gotta do the bullshit. But I have faith in you. Together, we can conquer the bullshit. This form a lotta dumb shit. Lotta bullshit happens in here. All bullshit. Bullshit here, there, everywhere you look theres bullshit. But you gotta do the bullshit. I know you can beat the bullshit. This form a lotta dumb shit. Lotta bullshit happens in here. All bullshit. Bullshit here, there, everywhere you look theres bullshit. But you gotta do the bullshit. I know you can beat the bullshit.
  .bp-picture
    = image_tag(@form.full_image)
