@import "variables";

// Form#Show
// bp = blog post (design)
.bp {
  h1 {
    margin-top: 50px;
    font: $bp-title;
  }
  h2 {
    font: $bp-sub;
    color: $bp-sub-gray;
  }
  p {
    margin-top: 50px;
    font-family: ArialMT;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0.05px;
    line-height: 50px;
  }
  .bp-picture {
    img {
    }
  }
}