@import "variables";

// Users#New
.form-page1 {
  .form-blue-bg {
    background-color: $light-blue;
    height: 50%;
    width: 100%;
    position: fixed;
    top: 50px;
  }
}

// Users#New Form Partial
.form1 {
  background-color: $off-white;
  padding: 15px;
  margin-top: 175px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.20);
  border: 1px solid $med-blue;
  height: 350px;
  .step-count {
    font: lighter 45px $Lato;
    text-align: center;
    margin-bottom: 30px;
  }
  .form-group {
    .margin-bottom: 10px
    label {
      font: $sub-header;
    }
    select {
      width: 152px;
    }
  }
  .submit-btn {
    margin-top: 20px;
    text-align: center;
  }
}

// Users#Edit
.form-page2 {
  @extend .form-page1;
}

.form2 {
  @extend .form1;
}

// Users#Show
.user-show {
  .hero-strip {
    background-color: $light-blue;
    margin-top: -20px;
    width: 100%;
    h1 {
      color: white;
      font: $header;
      font-size: 40px;
      line-height: 80px;
      margin: 40px 0px;
    }
  }
  .form-deliver{
    .gray-box {
      margin-top: 30px;
      padding-bottom: 10px;
      background-color: #F6F6F6;
      .col-xs-10 {
        padding: 0px;
      }
      h2 {
        font: $Lato;
        color: #3f3f3f;
        font-size: 25px;
      }
      .document-white-bg {
        background-color: white;
        margin-bottom: 10px;
        height: 300px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .learn-more-arrow {
        text-align: right;
        img {
          width: 30px;
        }
      }
    }
    .gray-box:hover {
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
    }
  }
}
