// Fonts
$Lato: Lato, sans-serif;
$header: lighter 15px Lato;
$sub-header: bold 15px Arial;
$paragraph: normal 13px/20px Arial;

// Colors
$dark-blue: #2C3E50;
$med-blue: #2980B9;
$light-blue: #3498DB;
$red: #E74C3C;
$light-red: #f35c4c;
$off-white: #ECF0F1;
