%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand=link_to "FormFinder", root_path
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Forms
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Business
            %li.disabled
              %a{:href => "#"} Personal
            %li.disabled
              %a{:href => "#"} Home
        %li
          %a{:href => "#"} About
        %li
          %a{:href => "#"} Contact
